{% load static %}
<style>
  body {
    background-image: url({% static 'bb1.png' %});
  }
  </style>

<style>
  
  .greet{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
  span { display: flex; 
       justify-content: center }
  .text {
  
  font-family: verdana;
  font-size: 6em;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}
</style>
{% load static %}
<div class="jumbotron" style="background-image: url({% static 'bb.png' %}); color:black,min-height: 400;width: 100%;background-size: cover;">

{% load static %}
<img align="left" src="{% static "pb.png" %}" alt="Py-BLOGS" style="margin-top:-25px"; height="135" width="155">

    <span class="text">
        Py-BLOGS: Latest Blogs
   </span>
</div>



